body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-aeonik: Aeonik;
    --font-lato: Lato;
  
    /* font sizes */
    --font-size-lg: 18px;
    --font-size-5xl: 24px;
    --font-size-19xl: 38px;
    --font-size-13xl: 32px;
    --font-size-xl: 20px;
    --font-size-sm: 14px;
    --font-size-base-3: 16.3px;
    --font-size-15xl-3: 34.3px;
    --font-size-base: 16px;
  
    /* Colors */
    --pure-white: #fff;
    --accent-colour: #e49115;
    --color-gray-100: #fafafa;
    --text-colour-black: #121415;
    --color-gray-200: rgba(255, 255, 255, 0.5);
    --deep-green-cta: #1a7408;
    --tertiary-2: #eaeaea;
    --secondary: #707070;
    --text-colour-gray: #33383d;
    --tertiary-1: #b4b4b4;
    --color-lightgoldenrodyellow: #d3f5c6;
  
    /* Paddings */
    --padding-sm: 14px;
    --padding-9xl: 28px;
    --padding-5xs: 8px;
    --padding-7xs: 6px;
  
    /* Border radiuses */
    --br-8xs: 5px;
  
    /* Effects */
    --frispes-ds: 0px 12px 76px rgba(0, 0, 0, 0.13);
  }
  