@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Aeonik;
    src: url(Aeonik/Aeonik-Medium.otf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Aeonik;
}

.marquee{
  animation: marquee 13s linear infinite ;
}

.marquee span{
  width: 50%;
  float: left;
  
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

