@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: AeonikMed;
    src: url(Aeonik/Aeonik-Medium.otf);
  }

@font-face {
    font-family: Aeoniklight;
    src: url(Aeonik/Aeonik-Light.otf);
  }

@font-face {
    font-family: AeonikBold;
    src: url(Aeonik/Aeonik-Bold.otf);
  }
@font-face {
    font-family: AeonikReg;
    src: url(Aeonik/Aeonik-Regular.otf);
  } 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: AeonikMed;
}

.marquee{
  animation: marquee 13s linear infinite ;
}
.marquee:hover{
  animation-play-state: paused;
}


.marquee span{
  width: 50%;
  float: left;
}

@keyframes marquee {
  0% { 
    left: 0;
  }
  100% { 
    left: -100%;
   }
}

.trans{
  transition: top 0.3s;
}

.timer p{
  font-family: AeonikLight;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(105deg, rgba(15, 15, 15, 0.62) 42.5%, rgba(0, 0, 0, 0.00) 118.15%);
  background-size: contain;
}

.carrotImage::before{
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(317deg, rgba(35, 35, 35, 0.39) 25.12%, rgba(35, 35, 35, 0.00) 113.1%);
}

